*{
    padding-right: 0px !important; padding-left: 0px !important;
    margin-right: 0px !important; margin-left: 0px !important;
    margin: 0; padding: 0; box-sizing: border-box; text-decoration: none !important; list-style: none;
    
}
body{
    font-family: 'Roboto', sans-serif !important;
    font-size: 20px;
    background-color: rgb(255, 255, 255);
}
header{
    height: 750px;
    background-image: url("assets/img/fondo_header.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.header{
    height: 90px;
}
.logo, .menu{
    height: 90px;
    display: flex;
    justify-content: center;
}

.logo img{
    margin-top: 20px;
    width: 220px;
    height: 50px;
}
.menu ul{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.menu ul li a{
    color: white;
    font-size: 13px;
}
.voto1{
    color: white;
    background-color: #01a08db8;
    height: 70px;
    display: flex;
justify-content: end;
align-items: center;
}
.voto2{
    color: white;
    background-color: #ffb43cbd;
    height: 70px;
    display: flex;
justify-content: start;
align-items: center;
    
}
.caja{
    
    height: 430px;
    background-color: rgba(0, 0, 0, 0.715);
    padding: 25px !important;  
}
.botones{
    display: flex;
    width: 100%;
    height: 90px;
}
.wiki{
    margin-right: 7px !important;
}
.info{
    text-decoration: white !important;
}
.Ylike{
    background-color: #01a08d;
    width: 50%;
    height: 100%;
    display: flex;
justify-content: center;
align-items: center;
color: white;
cursor: pointer;
}
.nolike{
    background-color: #ffb43c;
width: 50%;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
color: white;
cursor: pointer;
}
.caja p,  .caja p a{
    color: #c4c3c3;
    font-size: 17px;
}
.caja h2, .caja h3{
    color: white;
}
.titulo{
    font-size: 50px !important;
    letter-spacing: 3px;
}
.cajita{
    margin: 30px !important;
}
.like, .dislike{
 margin: 3px !important;
 font-size: 46px;
}
.mano1{
    display: flex;
    justify-content: flex-end;
}

.section{
    width: 100%;
    
    height: 100%;
    display: flex;
    justify-content: center;
}
.publicidad{
    display: flex;
    background-color: #ececece0;
    
}
.publicidad1{
    padding: 10px !important;
    width: 20%;
}
.publicidad2{
    padding: 20px !important;
    width: 80%;
}
.cerrar{
    align-self: center;
   
    cursor: pointer;
    text-align: end;
}
.container{
    margin-top: 40px !important;
    width: 80%;
    
}
.superHeroes{
    /* display: flex; */
    justify-content: space-between;
    
}
.imagenes{
    
   /*  width: 48%; */
    height: 520px;
    margin-bottom: 30px;
    display: flex;
flex-direction: column;
justify-content: flex-end;
    
}
.foto1{
    background-image: url("assets/img/superman.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.foto2{
    background-image: url("assets/img/thor.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.foto3{
    background-image: url("assets/img/spiderman.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.foto4{
    background-image: url("assets/img/batman.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.footer{
    display: flex;
    justify-content: center;
    width: 80%;
    
    width: 100%;
    height: 240px;
}
.pie{
    border-top: 2px dotted gray;
    
    justify-content: center;
    width: 80%;
    height: 100%;

}
.columna1{
    height: 100%;   
}
.columna2{
    height: 100%;
    display: flex;
    justify-content: flex-end;   
}
.terminos{
    display: flex;
    justify-content: space-around;
    font-size: 13px;
    height: 100%;
    align-items: center;
}
.redes{
    display: flex;
    justify-content: space-around;
    font-size: 13px;
    height: 100%;
    align-items: center;
    width: 50%;
}
.redes li i{
    font-size: 30px;
}
.conteo{
    display: flex;
    height: 50px;
}

.like1 i, .like2 i{
    margin: 10px !important;
}
.like1{
    width: 50%;
    height: 100%;
    background-color: #01a08de2;
    display: flex;
justify-content: flex-start;
color: white;

align-items: center;
}
.like2{
    width: 50%;
    height: 100%;
    background-color: #ffb43cd4;
    display: flex;
justify-content: flex-end;
color: white;
align-items: center;
}
.likefoto{
    padding: 2px !important;
    font-size: 21px;
    color: white;
    background-color: #01a08de2;
    margin-right: 4px !important;

}

.dislikefoto{
    padding: 2px !important;
    font-size: 21px;
    color: white;
    background-color: #ffb43cd4;
    margin-right: 4px !important;
}
.nombreHeroe{
    display: flex;
    align-items: center;
    color: white;
    font-size: 40px;
    letter-spacing: 2px;
}
.contenido1{
    margin-left: 30px !important;
    margin-bottom: 20px !important;
    color: #c4c3c3;;
display: flex;
justify-content: space-between;
}

.detalle{
    width: 50%;
text-align: center;
border: 1px solid white;
background-color: rgba(0, 0, 0, 0.402);
align-self: center;
padding: 13px !important;
cursor: pointer;
}

.date{
    text-align: end;
font-size: 10px;
width: 20%;
align-self: center;
padding: 10px !important;
}

@media (max-width:992px){
    .columna2{
        justify-content: center;
    }
}
@media (max-width:930px){
    .Ylike, .nolike{
        height: 80%;
    }
}

@media (max-width:784px){
    .Ylike, .nolike{
        height: 63%;
    }
}

@media (max-width:768px){
    .Ylike, .nolike{
        height: 63%;
    }
}

@media (max-width:564px){
   .terminos li{
       font-size: 10px;
       text-align: center;
   }
   
}

@media (max-width:404px){
    .titulo1 h2{
        font-size: 17px;
    }
}

@media (max-width:450px){
    .publicidad1, .publicidad2{
        font-size: 9px;
    }
    .fa-times{
        font-size: 9px;
    }
}

.Marvel{
    font-size: 33px !important;
}
.votoPositivos{
    display: flex;
    height: 90px;
}

.manito{
    background-color: #01a08d;
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    font-size: 80px;
    margin-right: 20px !important;
}
.manitoNegativa{
    background-color: #ffb43cd4;
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    font-size: 80px;
    margin-right: 20px !important;
}
.tuVoto{
    font-size: 27px !important;
    color: white !important; 
}
.textoSi{
    margin-top: 42px;
}
.volverVotar{
    display: flex;
    justify-content: center;
    height: 90px;
    align-items: center;
}
.botonVolver{
    background-color: rgba(0, 0, 0, 0.552);
    border: 1px solid white;
    color: white;
    font-size: 15px !important;
    height: 45px;
    padding: 12px 30px !important;
}

.positivo{
    display: none;
}

.negativo{
    display: none;
}
.abrir{
    display: block;
}
.cerrarP{
    display: none;
}